# SITL logs
.sitl-logs/

# Python
__pycache__/
*.pyc
venv/
.venv/

# Node
node_modules/
intent-layer/node_modules/

# OS
.DS_Store

# Webots
*.wbproj

# ArduPilot temp
eeprom.bin
mav.parm
mav.tlog
mav.tlog.raw
